/* 
//// global rules ////
*/

.navbar {
  background-color: white;
  color: black;
}

/* 
//// css rules for smartphones ////
*/

.navbar {
  display: flex;
  justify-content: space-around;
}

.item,
.items,
.cart {
  display: none;
}

/* 
//// css rules for tablets / smartphones on horizontal viewport ////
*/

@media (min-width: 600px) and (max-width: 1024px) {
  .navbar {
    display: grid;
    grid-template: 1fr / 0.6fr 1fr 0.3fr;
    justify-items: center;
    align-content: center;
    align-items: baseline;

    text-align: center;
    width: 100%;
    height: 70px;
  }

  .item,
  .items,
  .cart {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    position: relative; /* Ensure relative positioning for pseudo-element */
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 10px;
    color: black; /* Text color */
  }

  .navbar a::before {
    content: "";
    position: absolute;
    bottom: -2px; /* Position the underline below text */
    left: 0;
    width: 0%; /* Start with zero width */
    height: 2px; /* Thickness of the underline */
    background-color: #007bff; /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition for width */
    transform-origin: left; /* Animation starts from left */
  }

  .navbar a:hover::before {
    width: 100%; /* Expand width to 100% on hover */
  }

  .navbar li {
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
  }

  .item {
    display: flex;
  }
}

/* 
//// css rules for desktop devices ////
*/

@media (min-width: 1024px) {
  #navbar {
    display: grid;
    grid-template: 1fr / 0.6fr 1fr 0.3fr;
    justify-items: center;
    align-content: center;

    font-family: "Quicksand", sans-serif;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  .item,
  .items,
  .cart {
    display: block;
  }

  .logo {
    width: 200px;
  }

  .hamburger {
    display: none;
  }

  #navbar ul {
    display: flex;
  }

  #navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 10px;
  }

  #navbar li a:visited,
  #navbar li a:active {
    color: black; /* Ensure visited and active links are the same color */
  }

  .item {
    display: flex;
  }

  .cart {
    background-color: #cebe93;
    border-radius: 10px;
    padding: 5px;
  }

  .title {
    padding: 20px;
    color: black;
  }
}
