/* css rules for smartphones */

.item {
  font-family: "Quicksand", sans-serif;
  color: black;
}

.item button {
  font-family: inherit;
}

/* 
//// css rules for tablets / smartphones on horizontal viewport ////
*/

/* CSS rules for desktop devices */
@media (min-width: 1024px) {
  .item {
    display: flex;
    align-items: center;
    gap: 5%;

    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    border-radius: 6px;
    padding: 5%;
    margin: 5%;
    width: 70%;
    height: 400px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    width: 350px;
    height: 350px;
    border-radius: 10px;
  }

  .name {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
  }

  .price {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .item button:hover {
    cursor: pointer;
  }

  .addButton {
    width: 100px;
    height: 40px;
  }

  .removeButton {
    width: 100px;
    height: 40px;
  }
}
